.guess-grid{
    grid-template-rows: repeat(6, 1fr);
    width: 350px;
    height: 420px;


}
.row{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
.tile{
  width: 100%;
  display: inline-flex;
  border: 1px solid rebeccapurple;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: "white";
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.keyboard-row{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}
.keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 7vh;
    width: 7vh;
    cursor: pointer;
    background-color: rgb(129, 131, 132);
    color: rgb(215, 218, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
  }
  
  .keyboard-row button.wide-button {
    flex-grow: 1.5;
  }
  
  .spacer-half {
    flex-grow: 0.5;
  }